@import "vars";
@import "./fonts";

@import "blocks/logo/logo";
@import "blocks/title2/title2";
@import "blocks/application-form/application-form";
@import "blocks/input/input";
@import "blocks/slider-range/silder-range";
@import "blocks/errors-list/errors-list";

body, p, h2, fieldset, ul {
  margin: 0;
  padding: 0;
}

body {
  background: $bgPrimary;
  font-family: Suisse Intl, sans-serif;

  display: flex;

  position: relative;
}

.header {
  position: absolute;

  height: calc(100vh - 100px);
  width: 400px;

  display: flex;
  flex-flow: column;
  justify-content: space-between;

  box-sizing: border-box;
  margin-top: 32px;
  margin-left: 24px;
  margin-right: 24px;

  &__paragraph {
    display: inline-block;
    margin-top: auto;
    color: #808FC0;
    @include paragraphMiddleSize;
  }

  &__link {
    display: inline-block;
    color: $colorTextSecond;
    text-decoration: none;
  }
}

.main {
  margin: auto;
  margin-top: 60px;
}

@media (max-width: 1300px) {
  body {
    flex-flow: column;
    position: relative;
  }
  .header {
    position: static;
    margin: auto;

    width: 540px;
    height: 56px;

    flex-flow: row;

    &__paragraph {
      margin-left: auto;
      display: none;
    }

    &__link {
      &:before {
        content: "";
        display: inline-block;
        width: 13px;
        height: 11px;
        background: url("https://psv4.userapi.com/c532036/u132463526/docs/d31/f736c118226a/Vector_3.png?extra=qtQkGMiZXByiEEedFRmOjA3juGBbyEe7tbgs14svje_55pqISq3GkIZU5PBZxEvvYKaISorecvi_hWG0nzxxfir4QU_aO1x1qRz-Wu8Acd8t-QMfnMP_WFp_6IX3M9VYta_-MKw0kLZ-2Ts-D4RfEv4iOQ") center / 100% no-repeat;
      }
    }

    &__wrapper {
      display: flex;
      align-items: center;
    }
  }

  .main {
    margin-top: 0;
  }
}


@media (max-width: 520px) {
  .header {
    width: 100%;
    height: 56px;

    padding: 16px;
  }
}

